
// variables
$bg-color: #f8f8f8;
$yellow-color: #FFC200;
$bg-grey-color: #F7F6F3;
$dark-grey-color: #808080;
$black-color: #000;
$white-color: #fff;
$user-grey-color: #202020;
$head-white-color: #EAEAEA;
$head-menu-font-color: #131313;
$chat-icon-color: #FFF8DD;

$breakpoints: (
    "phone":        425px,
    "phone-wide":   480px,
    "phablet":      560px,
    "tablet-small": 640px,
    "tablet":       792px,
    "tablet-wide":  1024px,
    "desktop":      1248px,
    "desktop-wide": 1440px
);
// mixin

@mixin pseudo($pos: absolute){
    content: '';
    position: $pos;
}
@mixin circle($h, $w){
    height: $h;
    width: $w;
    border-radius: 50%;
}
@mixin mq($width, $type: max) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);
        @if $type == max {
            $width: $width - 1px;
        }
        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    }
}
@mixin flexbox {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
@mixin flex-wrap($value: nowrap) {
    -webkit-flex-wrap: $value;
    @if $value == nowrap {
      -ms-flex-wrap: none;
    } @else {
      -ms-flex-wrap: $value;
    }
    flex-wrap: $value;
  }
@mixin justify-content($value: flex-start) {
  @if $value == flex-start {
    -webkit-box-pack: start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
  } @else if $value == flex-end {
    -webkit-box-pack: end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
  } @else if $value == space-between {
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
  } @else if $value == space-around {
    -ms-flex-pack: distribute;
  } @else {
    -webkit-box-pack: $value;
    -moz-box-pack: $value;
    -ms-flex-pack: $value;
  }
  -webkit-justify-content: $value;
  justify-content: $value;
}

@mixin align-items($value: stretch) {
  @if $value == flex-start {
    -webkit-box-align: start;
    -moz-box-align: start;
    -ms-flex-align: start;
  } @else if $value == flex-end {
    -webkit-box-align: end;
    -moz-box-align: end;
    -ms-flex-align: end;
  } @else {
    -webkit-box-align: $value;
    -moz-box-align: $value;
    -ms-flex-align: $value;
  }
  -webkit-align-items: $value;
  align-items: $value;
}


// STYLE

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
html, body{
width: 100%;
height: 100vh;
background-color: $bg-color;
@include flexbox();
}
body{
overflow-x: hidden;
overflow-y: hidden;
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
font-weight: 400;
}
.flex{
  @include flexbox();
}
.space-between{
  @include justify-content(space-between);
}
.justify-center{
  @include justify-content(center);
}
.flex-center{
  @include justify-content(center);
  @include align-items(center);
}
.align-center{
  @include align-items(center);
}
.flex-column{
  @include flexbox();
  flex-direction: column;
}
  .padding-30px{
  padding: 30px 20px 20px 30px;
}
.wrapper{
  width: 100%;
  margin: 0 auto;
  flex-direction: row-reverse;
  height: 100vh;
}
.content-wrapper{
width: 100%;
/* max-width: 1170px; */
height: 100vh;
}
  

/* HEADER */

.header-container{
  width: 100%;
  min-width: 770px;
  height: 140px;
  background-color: $white-color;
  @include mq('tablet-wide') {
    min-width: 580px;
  }
  @include mq('tablet'){
    min-width: 430px;
    height: 120px;
  }
  @include mq('phone-wide'){
    min-width: 370px;
    height: 100px;
  }
}
h3{
  font-size: 32px;
  font-weight: 400;
  @include mq('tablet-wide'){
    font-size: 28px;
  }
  @include mq('tablet'){
    font-size: 22px;
  }
  @include mq('phone-wide'){
    font-size: 18px;
  }
}
.header-container-menu{
  flex-direction: column;
  margin: 45px 0 10px 30px;
  min-width: 350px;
  @include mq('tablet-wide'){
    min-width: 300px;
    margin-top: 48px;
  }
  @include mq('tablet'){
    min-width: 240px;
    margin-top: 38px;
    margin-left: 10px;
  }
  @include mq('phone-wide'){
    // min-width: 260px;
    width: 70%;
    margin-top: 10px;
    margin-left: 10px;
  }      
}
.header-container-menu-head{
  width: 100%;
  height: 35px;
  @include mq('phone-wide'){
    width: 200px;
  }  
}
.header-container-menu-head::before{ 
  @include pseudo(relative);
  transform: translateX(0px);
  width: 40px;
  height: 40px;
  border-radius: 3px;
  background-color: $yellow-color;
  background-image: url("../image/Shapes@2x.png");
  background-size: cover;
  @include mq('tablet-wide'){
    width: 35px;
    height: 35px;
    border-radius: 2px;
  }
  @include mq('tablet'){
    width: 30px;
    height: 30px;
    border-radius: 2px;
  }
  @include mq('phone-wide'){
    width: 25px;
    height: 25px;
    border-radius: 2px;
    
  }
}
.header-container-menu-head-etc{
  @include circle(30px, 30px);
  border: none;
  background-color: $head-white-color;
  cursor: pointer;
  @include mq('tablet-wide'){
    width: 25px;
    height: 25px;
  }
  @include mq('tablet'){
    width: 22px;
    height: 22px;
  }
  @include mq('phone-wide'){
    width: 20px;
    height: 20px;
  }
}
.header-container-menu-nav{
width: 100%;
height: 22px;
 menu{
  width: 100%;
  flex-direction: row;
  list-style-type: none;
  transition: 0.5s;
  li {
    position: relative;
    a{
      text-align: center;
      font-size: 16px;
      opacity: 0.7;
      color: $head-menu-font-color;
      @include mq('tablet'){
        font-size: 14px;
      }
      }
      a:hover{
      color: $black-color;
      opacity: 1;
      cursor: pointer;
      }
      a:hover::before{
      @include pseudo();
      width: 100%;
      height: 2px;
      border-radius: 1px;
      background-color: $yellow-color;
      transform: translateY(31px);          
      }
    }
  }
}
.header-container-activity{
  width: 30%;
  min-width: 230px;
  max-width: 270px;
  height: 30px;
  align-self: center;
  margin-right: 20px;
  @include mq('tablet-wide'){
    min-width: 220px;
    max-width: 260px;
    height: 25px;
    margin-right: 10px;
    margin-left: 20px; 
  }
  @include mq('tablet'){
    min-width: 200px;
    max-width: 230px;
    height: 22px;
    margin-left: 10px; 
  }
  @include mq('phone-wide'){
    width: 30%;
    min-width: 50px;
    max-width: 60px;
    height: 70px;
    margin-left: 10px;
    @include flex-wrap(wrap); 
    flex-direction: column-reverse;
  } 
}
.header-container-activity-icons{
  width: 110px;
  @include mq('tablet-wide'){
    width: 90px;
  }
  @include mq('tablet'){
    width: 70px;
  }
  @include mq('phone-wide'){
    width: 60px; 
  }  
}
.icon{
  @include circle(30px, 30px);
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  cursor: pointer;
  @include mq('tablet-wide'){
    width: 25px;
    height: 25px;
  }
  @include mq('tablet'){
    width: 22px;
    height: 22px;
  } 
  @include mq('phone-wide'){
    width: 20px;
    height: 20px; 
  }  
}
.icon:first-child{
background-image: url(../image/user1.svg);
}
.icon:nth-child(2){
background-image: url(../image/user2.svg);
}
.icon:nth-child(3){
background-image: url(../image/user3.svg);
}
.header-container-activity-button{
  width: 75px;
  height: 30px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  span{
    font-size: 14px;
    font-weight: lighter;
    @include mq('tablet-wide'){
      font-size: 12px;
    }
    @include mq('tablet'){
      font-size: 11px;
    }
}
  @include mq('tablet-wide'){
    height: 25px;
    width: 60px; 
  }
  @include mq('tablet'){
    height: 22px;
    width: 60px; 
  }
  @include mq('phone-wide'){
    height: 20px;
    width: 60px; 
  }   
}
.share{
  background-color: $head-white-color;
}
.chat{
  padding: 0 4%;
  background-color: $chat-icon-color;
span{
  color: $yellow-color;
  }
}
.chat-icon{
width: 16px;
height: 16px;
background-image: url(../image/CombinedShape@1x.svg);
}

/* CONTENT */

.content-container{
@include align-items(flex-start);
width: 100%;
overflow-y: scroll;
height: 85vh;
background-color: $bg-grey-color;
}
.content-container-data{
flex-direction: column;
width: 60%;
padding: 3%;
border-radius: 8px;
margin: 30px 0;
background-color: $white-color;
@include mq('tablet-wide'){
  width: 80%;
}
@include mq('tablet-wide'){
  width: 90%;
}
}
.date{
width: 100%;
height: 20px;
margin-bottom: 10px;
}
.content-container-data-posts{
position: relative;
width: 100%;
height: 100%;
}
.post{
width: 100%;
margin-left: 20px;
padding: 25px;
}
.text{
width: 80%;
font-size: 16px;
color: $head-menu-font-color;
line-height: 20px;
}
.time{
width: 60px;
font-size: 14px;
color: $head-menu-font-color;
}

.mark::before,
.comment::before,
.upload::before{
@include pseudo();
@include circle(40px, 40px);
transform: translateX(-50px);
background-repeat: no-repeat;
background-position: center;
background-size: 30% 30%;
@include mq('tablet'){
  width: 30px;
  height: 30px;
}
}
.mark::before{
background-color: #CEF9C6;
background-image: url(../image/Icon@3x.svg);
}
.comment::before{
background-color: #FFF8DD;
background-image: url(../image/message.svg);
}
.upload::before{
background-color: #E3EFFF;
background-image: url(../image/download.svg);
}
.inform{
width: 80%;
margin-left: 40px;
margin-right: 60px;
border-radius: 10px;
background-color: $bg-grey-color;
}
.inform .text{
width: 100%;
}
.upload{
flex-direction: column;
}
.upload-text{
width: 100%;
flex-direction: row;
}
.uploaded-photos{
width: 100%;
@include justify-content(flex-start);
}
.uploaded-photo{
width: 100px;
height: 100px;
border-radius: 8px;
margin-top: 20px;
margin-right: 10px;
background-size: 100%;
background-repeat: none;
cursor: pointer;
@include mq('tablet-wide'){
  width: 80px;
  height: 80px;
  border-radius: 7px;
  margin-top: 20px;
  margin-right: 2%;
}
@include mq('tablet'){
  width: 70px;
  height: 70px;
}
}
.uploaded-photo:first-child{
background-image: url(../image/nature-1.jpg);
}
.uploaded-photo:nth-child(2){
background-image: url(../image/nature-2.jpg);
}
.uploaded-photo:nth-child(3){
background-image: url(../image/nature-3.jpg);
}
.uploaded-photo:nth-child(4){
background-image: url(../image/nature-4.jpg);
}


/* SIDE-MENU */

.side-menu{
  align-items: flex-start;
  @include justify-content(flex-start);
  background-color: $black-color;
  min-width: 270px;
  height: 100vh;
  color: $white-color;
  @include mq('tablet-wide') {
    min-width: 250px;
  }
  @include mq('tablet') {
    min-width: 180px;
  }
  @include mq('tablet-small') {
    min-width: 40px;
  }
  @include mq('phone') {
    display: none;
  }
  }
  .side-menu-head{
  width: 100%;
  @include mq('tablet'){
    padding: 10px;
    padding-top: 30px;
  }
  @include mq('tablet-small') {
    width: 30px;
  }
  }
  .side-menu-head-icon{
  width: 22px;
  height: 20px;
  cursor: pointer;
  @include mq('tablet-small') {
    width: 30px;
  }
  }
  .side-menu-head-icon-row{
  width: 100%;
  height: 40%;
  }
  .side-menu-head-icon-row-yes{
  width: 11px;
  height: 8px;
 }
  .side-menu-head-icon-row-yes span::before,
  .side-menu-head-icon-row-yes span::after
  {
  @include pseudo;
  background-color: $yellow-color;
  height: 2.5px;
  border-radius: 2px;
  }
  
  .side-menu-head-icon-row-yes span::before{
  width: 7px;
  transform: translateY(3.5px) translateX(-0.7px) rotateZ(45deg);
  }
  .side-menu-head-icon-row-yes span::after{
  width: 10px;
  transform: translateX(2px) translateY(2.5px) rotateZ(-45deg); 
  }
  .side-menu-head-icon-row-minus{
  width: 9px;
  height: 8px;
  }
  .side-menu-head-icon-row-minus span
  {
  position: absolute;
  background-color: $yellow-color;
  width: 8px;
  height: 2.5px;
  border-radius: 2px;
  }
  .side-menu-head-name{
  width: 90px;
  height: 30px;
  margin-right: 60px;
  @include mq('tablet-small') {
    display: none;
  }
  p{
    font-size: 16px;
    line-height: 30px;
    }
  @include mq('tablet'){
    width: 80px;
    height: 30px;
    margin-right: 10px; 
  } 
  }     
  
  .side-menu-head-search{
  width: 16px;
  height: 16px;
  cursor: pointer;
  @include mq('tablet-small') {
    display: none;
  }
  span{
    position: absolute;
    background-color: $dark-grey-color;
    @include circle(14px, 14px);
    z-index: 0;
    }
  span::before,
  span::after{
    @include pseudo();
    }
  span::before{
    @include circle(9.5px, 9.5px);
    background-color: $black-color;
    z-index: 1;
    transform: translateX(2.25px) translateY(2.25px);
    }
  span::after{
    width: 7px;
    height: 2.5px;
    border-radius: 1px;
    background-color: $dark-grey-color;
    z-index: 2;
    transform: translateX(10px) translateY(12px) rotateZ(45deg);
    }
  }
  .side-menu-user{  
  width: 100%;
  height: 90px;
  background-color: $user-grey-color;
  @include mq('tablet'){
    padding: 5px;
    height: 70px;
  }
  @include mq('tablet-small') {
    display: none;
  }
  }
  .side-menu-user-icon{
  @include circle(48px, 48px);
  background-image: url(https://pbs.twimg.com/profile_images/968940018956939266/9ArTAIxH_400x400.jpg);
  background-size: 100% 100%;
  @include mq('tablet'){
    height: 40px;
    width: 40px;
  }
  }
  .side-menu-user-name{
  flex-wrap: wrap;
  @include justify-content(flex-start);
  width: 108px;
  height: 40px;
  h5{
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    }
  @include mq('tablet') {
    width: 100px;
    height: 35px;
    h5{
      font-size: 12px;
      }
  }
  }
  
  h6{
  font-size: 12px;
  font-weight: 400;
  color: $dark-grey-color;
  @include mq('tablet') {
    font-size: 10px;
  }
  } 
  .side-menu-user-etc{
  width: 20px;
  height: 20px;
  border: none;
  background-color: inherit;
  cursor: pointer;
  }
  .etc,
  .etc::before,
  .etc::after
  {
  position: absolute;
  @include circle(4px, 4px);
  background-color: $dark-grey-color;
  }
  .etc::before,
  .etc::after{
  @include pseudo();
  transform-origin: center;
  }
  .etc::before{
  transform: translateX(-8px);
  }
  .etc::after{
  transform: translateX(4px);
  }
  .side-menu-tasks{
  width: 100%;
  @include mq('tablet'){
    width: 100%;
    @include flexbox();
    padding: 10px;
  }
  @include mq('tablet-small') {
    display: none;
  }
  }
  .side-menu-tasks-completed{
  width: 100px;
  height: 40px;
  cursor: pointer;
  @include mq('tablet'){
    width: 90px;
  }
  }
  h4{
  font-size: 20px;
  font-weight: 400;
  @include mq('tablet') {
    font-size: 18px;
  }
  }
  .side-menu-tasks-open{
  width: 100px;
  height: 40px;
  cursor: pointer;
  @include mq('tablet') {
    width: 90px;
  }
  }
  .side-menu-menu{
  padding-top: 20px;
  @include mq('tablet'){
    padding: 10px;
    padding-top: 10px;
  }
  @include mq('tablet-small') {
    display: none;
  }
  }
  .side-menu-menu menu{
  list-style-type: none;
  text-decoration: none;
  }
  .side-menu-menu li{
  height: 40px;
  @include flexbox();
  cursor: pointer;
  }
  #notifications{
  @include flexbox();
  @include justify-content(center);
  @include align-items(center);
  color: $black-color;
  font-size: 14px;
  margin-left: 20px;
  @include circle(20px, 20px);
  background-color: $yellow-color;
  }
